<!DOCTYPE html>
<html>

<head>
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <h2>Add Category</h2>

        <a class="go-back-btn" href="/categories">
            < Go Back</a>

                <form method="post" action="/categories/add">
                    <input name="CategoryName" placeholder="Category Name" required />
                    <button type="submit">Save</button>
                </form>
    </div>

</body>

</html>